<!DOCTYPE html>
<html lang="en">

<head>
    <link href="./bootstrap-4.5.2/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <meta charset="UTF-8">
    <title>CodeBreaker</title>
    <link rel="icon">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-1">
            <div class="container">
                <div class="row full-content">
                    <div class="col-12">
                        <div class="navigation">
                            <ul class = "nav nav-list">
                                <li><a href="/" class="current main-page">Main Page</a></li>
                                <li><a href="/caesar" class="caesar-page">Caesar Cypher</a></li>
                                <li><a href="/shifted" class="shifted-page">Caesar Shifted Cypher</a></li>
                                <li><a href="/vigenere" class="vigenere-page">Vinegere Cypher</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="content">
                            <div class="text-content">
                                <h1>Page not found</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./javascript/jquery/jquery-3.5.1.js"></script>
<script src="./bootstrap-4.5.2/js/bootstrap.js"></script>
<script src="/javascript/mainScript.js"></script>
</body>
</html>