:root {
    --labels-default-height: 25px;
    --menu1-color: #fd7b87;
    --menu2-color: #fda660;
    --menu3-color: #60ead3;
    --menu4-color: #5fb3f9;
    --text-color:  #ffffff;
}
.full-content{
    background-color: #396FAE;
    min-height: 620px;
}
.content{
    color: white;
}
.text-content{
    text-align: center;
}
#mainForm{
    padding: 0 30px;
}
.cypherTextValues, .cypherManageValues{
    display: flex;
    flex-direction: row;
}
.cypherTextValues .form-group
{
    width: 50%;
}
.text-input label
{
    width: 100%;
}
.cypher-mode-attributes
{
    width: 65%;
    padding-top:var(--labels-default-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
}
.label-desc{
    height: var(--labels-default-height);
    display: inline-block;
}
.file-output
{
    margin-top:var(--labels-default-height);
    display: flex;
    justify-content: end;
}
.text-check{
    margin-right: 15px;
}
.file-label{
    width: 70%;
}
.textManageButtons{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.plainText-input{
    margin-top:20px;
    padding-right: 15px;
}
.resultText-input{
    margin-top:20px;
    padding-left: 15px;
}
.form-buttons{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 2rem;
}
.form-buttons input{
    margin-right: 20px;
}
.navigation{
    padding: 0 30px;
    display: flex;
    justify-content: center;
}
.nav-list{
    margin: 20px 0;
}
.nav>li
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    font-weight: 600;
    background-color: var(--menu4-color);
    color: var(--text-color);
    margin-right: 15px;
    border-radius: 20px 5px;
}
.current{
    color: var(--text-color);
    background-color: var(--menu4-color);
}

